/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Import Bootstrap */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

body{

         font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

      
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
     display: inline;
    margin: 0 10px;
}

nav ul li a {
     color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
}


.portfolio-item {
    margin: 20px 0;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}




































































































































































